
<div id=”login”>
   <input type=”text” id=”uri” placeholder=”Your name”/>

   <button id=”btnLogin”>Sign In</button>

   <span id=”showUser” style=’display:none’></span>

   <input type=”text” id=”callee” placeholder=”Who you gonna call?” style=’display:none’/>

   <button id=”btnCall” style=’display:none’>Call</button>

   <button id=”btnHangup” style=’display:none’>Hangup</button>

</div>

<div id=”call”>

   <video id=”localVideo” autoplay></video>

   <video id=”remoteVideo” autoplay></video>

</div>